body {
    background: linear-gradient(-45deg, #bdf0b3, #8cc581, #a0cb99, #a0f290);
    background-size: 400% 400%;
    animation: gradient_background 10s ease infinite;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

#global-container {
    background: linear-gradient(45deg, #b5c6b2, #c9dfc6, #e4ede2, #ffffff);
    background-size: 400% 400%;
    animation: gradient_background 100s ease infinite;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(2, 43, 247, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(1, 36, 8, 0.5); 
    max-width: 900px; 
    width: 90%;
    text-align: center; 
}

@keyframes gradient_background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(37, 22, 7);
    font-size: 2.5em; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; 
    animation: fadeIn 1s ease;
    text-shadow: 
        10px 5px 4px rgba(0, 0, 0, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.2);  

    /* Consult to check it compatible navigator */
    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
        background: linear-gradient(to right, #112417, #0e2203);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.2);
    }
}

#input-container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    text-align: center;
    animation: fadeIn 2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#pi-display-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#pi-display {
    font-size: 1.5em;
    font-weight: bolder;
    border-color: #5fb87a;
    color: #d35704;
}

#user-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-left: 2.5px;
    color: #333;
}

#virtual-keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    animation: fadeIn 3s ease;
}

.key {
    background: linear-gradient(to bottom, #5fb87a, #59ad5f); 
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 70px; 
    font-size: 1.75em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px #3a6d46, 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.01s ease, box-shadow 0.01s ease;
}

.key:hover {
    background: linear-gradient(to bottom, #76c58f, #529a6d); 
    box-shadow: 0 8px #2f5537, 0 6px 15px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}

.key:active {
    background: linear-gradient(to bottom, #468259, #5e9e71); 
    box-shadow: 0 4px #2f5537;
    transform: translateY(2px);
}

.key.zero {
    grid-column: 2;
}

#score-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.7em;
    width: auto;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#score {
    font-weight: bold;
}

#restart-button {
    background: linear-gradient(to bottom, rgb(240, 131, 131), #f66363); 
    color: white;
    border: none;
    border-radius: 10px;
    animation: fadeIn 5s ease;
    padding: 12px 24px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 6px #c43c3c, 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

#restart-button:hover {
    background: linear-gradient(to bottom, rgb(241, 139, 139), #e96d6d);
    box-shadow: 0 8px #c43c3c, 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#restart-button:active {
    background: linear-gradient(to bottom, rgb(203, 115, 115), #cd5a5a);
    box-shadow: 0 4px #812828, 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#message {
    position: absolute;
    color: white;
    white-space: pre-wrap; /* To allow line jumps when setting text from JavaScript */
    background: linear-gradient(to bottom, #ef6a6a, #e53737);
    padding: 15px;
    border-radius: 12px;
    font-size: 1.5em;
    margin-top: -300px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    animation: blink 1.25s ease-in-out infinite, popUp 0.1s ease-out;
    display: none;
    opacity: 0.85; 
    pointer-events: none; /* Allow clicking other elements behind him */
}

@keyframes blink {
    0%, 100% {
        opacity: 0.75; 
    }
    50% {
        opacity: 0.3;
    }
}

@keyframes popUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 0.35; 
    }
}

#restart-message {
    position: absolute;
    color: black;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
}

#message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#popupimage {
    position: fixed;
    top: 100;
    left: 100;
    bottom: 100;
    right: 100;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}

.popup-image {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform: translate(-500%, -500%);
}
